@use "../../styles/partials/variables" as *; 

.authentication{
    text-align: center;
    height: 100vh;
    background-color: $Light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:3rem;
    &__custom{
        cursor: pointer;
        color: rgb(51, 51, 248);
    }
}