@use "../../styles/partials/variables" as *; 

.authentication{
    text-align: center;
    min-height: 100vh;
    background-color: $Light-gray;
    display: flex;
    align-items: center;
    padding-block:2rem;
    // background-color: #5272ff0e;
    &__message{
        width: 60vw;
        // height: 100vh;
    }
    &__img{
        height: 4rem;
    }
    &__title{
        margin-block: 1rem;
    }
    &__written{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__p{
        width: 60%;
        margin-bottom: 0.5rem;
        font-size:0.75rem;
        font-weight:500;
        color: #000;
        &--large{
            font-size: 0.8125rem;
            font-weight:500;
            color: #000;
        }
    }
    &__image{
        height: 15rem;
    }
    &__custom{
        cursor: pointer;
        color: rgb(51, 51, 248);
    }
    &__error-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        color: #ff0000;
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-decoration: none;
        margin-bottom: 1rem;
        font-weight: 500;
    }
}