$Pure-white:#FFFFFF; 
$Light-gray:#F5F5F5;
$Medium-light-gray:#D3D3D3;
$Dark-gray:#A9A9A9;
$Off-white:#E6E6E6;
$Light-gray2:#efefef;
$Gray:#808080;
$Silver:#C0C0C0;
$Dark-slate-gray:#2C3E50;
$Light-slate-gray:#95A5A6;
$Primary-blue:#5271ff;


$plum: #6C3483;// - A darker shade of purple, close to plum.
$medium-purple:#8E44AD;// - Medium purple.
$lavender:#D2B4DE; //- Very light lavender, subtle and muted.
$light-purple:#BB8FCE; // - Lighter shade of purple.
$violet:#76448A; //- Dark violet.
$mid-purple:#A569BD; //- Middle ground between dark and light purple.
$light-purple:#E8DAEF;// - Extremely light, almost off-white with a purple tint.