@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user {
    background-color: $Primary-blue;
    padding: 1rem;
    display: flex;
    align-items: center;
  @include desktop-viewport {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: auto;
  }

  &__img-container {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__logo-container {
    height: 1.5rem;
    width: 1.5rem;
    margin-inline: 1.5rem;
    @include desktop-viewport{
      margin-top: 1.5rem;
      margin-inline: auto;
    }
  }
  &__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  &__menu {
    padding: 0;
    @include desktop-viewport{
      
    }
  }
  &__list {
    display: inline-block;
    list-style-type: none;
    margin-inline: 1rem;
    color: #fff;
    cursor: pointer;
    @include desktop-viewport{
    display: block;
    margin-block: 2rem;
    margin-inline: auto;
    }
    
    &--link {
      @extend .user__list;
    }
  }
}
