@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user{
    text-decoration: none;
    background-color: $Primary-blue;
    padding-block: 1rem;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__profile{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
    }
    &__username{
        font-weight: 500;
        color: #fff;
    }
    &__img-container{
        height: 3rem;
        width: 3rem;
        border-radius:50%;
    }
    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius:50%;
    }
    &__ul{
        display: flex;
    }
    &__list{
        @include user-page-banner-list;
        font-size: 1.5rem;
        &:hover{
            color: #fff;
        }
        &--link{
            @include user-page-banner-list;
            font-size: 1.5rem;
            color: #fff;
        }
        &--black{
            @include user-page-banner-list;
            text-decoration: none;
            border: 0.0625rem solid $Light-slate-gray;
            color: #fff;
            border-radius: 1.875rem;
            &:hover{
                border: 0.0625rem solid $Pure-white;
                color: #fff;
            }
        }
    }

}