@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.clique-post{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post{
    margin-block: 1rem;
    width: 40rem;
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__href{
        text-decoration: none;
        color: #000;
    }
    &__details{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__img-container{
        height: 3rem;
        width: 3rem;
        border-radius:50%;
    }
    &__img{
        @include img-cover;
        border-radius:50%;
    }
    &__display-name{
        color: $Primary-blue;
        font-size: 0.9375rem;
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }
    &__date{
        color: $Dark-gray;
        font-size: 0.875rem;
    }
    &__clique{
        @extend .post__details;
        height: 80%;
        max-width: 70%;
        @include font-ellipsis;
        font-size: 0.875rem;
        text-decoration: none;
        background-color: $Primary-blue;
        padding: 0.5rem 0.7rem;
        border-radius: 0.3125rem;
        color: #fff;
        &--alternate{
            color: $Primary-blue;
        }
    }
    &__content{
        font-size:0.9375rem;
        word-wrap: break-word;
        margin-block:1.5rem;
    }
    &__media-container{
        height: 30rem;
        padding-block: 1rem;
    }
    &__media{
        @include img-cover;
    }
    &__impressions-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
        border-top: 0.0625rem solid $Light-slate-gray;
    }
    &__impressions{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        cursor: pointer;
        color: $Light-slate-gray;
        transition: 0.4s ease-in-out;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3125rem;
        text-decoration: none;
        &:hover{
            background-color: $Light-slate-gray;
            color: #fff;
        }
    }

}