@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;


.userpage{
    &__main{
        display: none;
        @include desktop-viewport{
            display: flex;
            width: 94.3vw;
            flex-direction: row-reverse;
            justify-content: center;
            min-height: 100vh;
        }
    }

    &__mobile{
        @include desktop-viewport{
            display: none;
        }
    }
    
    &__following{
        @include desktop-viewport{
            position: sticky;
            top: 11rem;
        }
        
    }   
}

.toggle{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    padding:0;
    background-color: #fff;
    @include sticky;
    top: 4rem;
    z-index: 50;
    @include desktop-viewport{
        display: none;
    }
    &__item{
        border-bottom: 3px solid transparent;
        width: 50%;
        padding-block: 1rem;
        text-align: center;
        vertical-align: middle;
        &--bold{
            width: 50%;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid $Primary-blue;
        }
    }
}