@use "../../styles/partials/variables" as *;

.userPostList{
    padding: 1rem 1.5rem;
    min-height: 100vh;
    border-left: 0.0625rem solid $Medium-light-gray;
    &__title{
        padding-block: 1rem;
    }
}